:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

*{
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

h1 {
  font-weight: 300;
  letter-spacing: 0.25rem;
}

button {
  --button-background-color: transparent;
  --button-background-color-over: cornflowerblue;
  --button-border-color: var(--button-background-color-over);
  --button-color: var(--button-background-color-over);
  --button-color-over: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  min-width: 85px;
  letter-spacing: 0.05rem;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background-color: var(--button-background-color-over);
    color: var(--button-color-over);

  }
}

.ripple {
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);

        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          pointer-events: none;
          background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
          background-repeat: no-repeat;
          background-position: 50%;
          transform: scale(10, 10);
          opacity: 0;
          transition: transform 0.5s, opacity 1s;
        }

        &:active:after {
          transform: scale(0, 0);
          opacity: 0.3;
          transition: 0s;
        }
      }